<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eu.mapper.MultiTableQueryMapper" >

    <select id="selectContactsByCmid" parameterType="java.lang.Integer" resultType="com.eu.pojo.CommunityContacts">
        select userinfo.`name`,userinfo.avatar,communityauthority.position,userinfo.uid,userinfo.grade,userinfo.gender,userinfo.studentid,userinfo.professionclass from userinfo,communityauthority where userinfo.uid = communityauthority.uid and communityauthority.cmid = #{cmid}
    </select>

</mapper>