<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eu.mapper.ViewpagerMapper" >
  <resultMap id="BaseResultMap" type="com.eu.pojo.Viewpager" >
    <id column="index" property="index" jdbcType="INTEGER" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="detailurl" property="detailurl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectViewPagers" resultType="com.eu.pojo.Viewpager">
    SELECT * FROM viewpager
  </select>

</mapper>